<!DOCTYPE html>
<html>
  <head>
    <title>Blaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <section class="container">
      <section class="content">

        <%= yield %>

      </section>
    </section>
  </body>
</html>
